// 브라우저 기본 스타일 재정의
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: $font-family-base;
  font-size: 14px;
  line-height: 1.4;
  color: $gray-900;
  user-select: none;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    opacity: 0.85;
  }
}

button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font-family: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

input,
textarea {
    font-family: inherit;
    font-size: inherit;
    outline: none;
    
    @include typo($body-m-size, $body-m-weight, $body-m-spacing, $body-m-line);

    border-radius: 4px;
    border: 1px solid $gray-200;

    &:focus {border-color: $gray-900;}
    &::placeholder { color: $gray-400;}
    &:disabled {background-color: $gray-50; color: $gray-700;}
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}
// ======================================================================
// 📌 GLOBAL UTILITY CLASSES (전역 유틸리티)
// ======================================================================
.w-100 {width: 100%;}
.h-100 {height: 100%;}
.mt-0 {margin-top: 0 !important;}
// 화면 전체 영역 컨테이너
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 $space-md;
}
// flex 관련
.d-flex { display: flex; }
.flex-col { flex-direction: column; }
.flex-row { flex-direction: row; }
.flex-wrap {flex-wrap: wrap;}
.gap-16 { gap: 16px; }
.gap-10 {gap: 10px;}
.gap-8 { gap: 8px; }
.gap-6 { gap: 6px; }
.gap-4 { gap: 4px; }
.align-center { align-items: center; }
.align-start { align-items: flex-start !important; }
.justify-center { justify-content: center; }
.justify-between { justify-content: space-between; }
.justify-end { justify-content: flex-end; }

// input:text 
.input-text {
    display: flex;
    height: 32px;
    padding: 0 10px;
    align-items: center;
}

// text
.heading-l { @include typo($heading-l-size, $heading-l-weight, $heading-l-spacing, $heading-l-line); }
.heading-m { @include typo($heading-m-size, $heading-m-weight, $heading-m-spacing, $heading-m-line); }
.heading-s { @include typo($heading-s-size, $heading-s-weight, $heading-s-spacing, $heading-s-line); }
.title-l { @include typo($title-l-size, $title-l-weight, $title-l-spacing, $title-l-line); }
.title-m { @include typo($title-m-size, $title-m-weight, $title-m-spacing, $title-m-line); }
.title-s { @include typo($title-s-size, $title-s-weight, $title-s-spacing, $title-s-line); }
.title-xs { @include typo($title-xs-size, $title-xs-weight, $title-xs-spacing, $title-xs-line); }
.body-l { @include typo($body-l-size, $body-l-weight, $body-l-spacing, $body-l-line); }
.body-m { @include typo($body-m-size, $body-m-weight, $body-m-spacing, $body-m-line); }
.body-s { @include typo($body-s-size, $body-s-weight, $body-s-spacing, $body-s-line); }
.body-xs { @include typo($body-xs-size, $body-xs-weight, $body-xs-spacing, $body-xs-line); }
.caption { @include typo($caption-size, $caption-weight, $caption-spacing, $caption-line); }
.tooltip { @include typo($body-s-size, $body-s-weight, $body-s-spacing, $body-s-line); word-break: keep-all;}
// img
.icon-img {display: inline-block;}

// empty
.empty-box {
    @include flex-center;
    flex-direction: column;
    gap: 8px;
    margin: auto;
    
    color: $gray-700;
}

.contents-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
    min-height: 0;
    padding: 16px;
    // overflow-y: auto;

    border-radius: 8px;
    border: 1px solid $gray-200;
    background-color: $gray-00;
}

.border-top {border-top: 1px solid $gray-200;}
.border-bottom {border-bottom: 1px solid $gray-200;}
.border-right {border-right: 1px solid $gray-200;}