// 공통으로 쓰는 ui 컴포넌트 스타일 정의
// 예: 버튼, 카드, 모달, 토스트, 인풋, 스위치, 탭

// ======================================================================
// 버튼
// ======================================================================
.btn {
    display: inline-flex;
    align-items: center;
    gap: 3px;
    justify-content: center;
    font-family: $font-family-base;
    white-space: nowrap;

    &--size-24 { height: 24px; padding: 0 6px; gap: 2px; border-radius: 4px; @include typo($title-xs-size, $title-xs-weight, $title-xs-spacing, $title-xs-line); line-height: 1; }
    &--size-32 { height: 32px; padding: 0 8px; gap: 3px; border-radius: 5px; @include typo($title-s-size, $title-s-weight, $title-s-spacing, $title-s-line); line-height: 1;}
    &--size-40 { height: 40px; padding: 0 12px; gap: 4px; border-radius: 6px; @include typo($title-m-size, $title-m-weight, $title-m-spacing, $title-m-line); line-height: 1;}

    // solid blue
    &--blue {
        background-color: $primary-700;
        color: $gray-00;

        &:hover {background-color: $primary-800; box-shadow: $shadow-button-hover}
        &:active {background-color: $primary-800; color: $primary-100;}
        &.is-disabled {background-color: $gray-200; color: $gray-400;}
    }
    // outline blue
    &--blue-outline {
        border: 1px solid $primary-700;
        background-color: $gray-00;
        color: $primary-700;

        &:hover {background-color: $primary-50; box-shadow: $shadow-button-hover}
        &:active {background-color: $primary-100;}
        &.is-disabled {border-color: $gray-300; background-color: $gray-200; color: $gray-400;}
    }
    // solid black
    &--black {
        background-color: $gray-800;
        color: $gray-00;

        &:hover {background-color: $gray-900;box-shadow: $shadow-button-hover}
        &:active {background-color: $gray-900;}
        &.is-disabled {background-color: $gray-200; color: $gray-400;}
    }
    // outline black
    &--black-outline {
        border: 1px solid $gray-300;
        background: $gray-00;
        color: $gray-700;

        &:hover {background: $gray-100; box-shadow: $shadow-button-hover}
        &:active {background: $gray-100; border-color: $gray-700;}
        &.selected {background: $gray-100; border-color: $gray-700;}
        &.is-disabled {border-color: $gray-300; background-color: $gray-200; color: $gray-400;}
    }
}

.tab-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;

    border-radius: 5px;
    background-color: $gray-50;
    color: $gray-400;

    &--size-24 {
        width: 51px;
        height: 24px;
        @include typo($title-s-size, $title-s-weight, $title-s-spacing, $title-s-line);
    }
    
    &--size-32 {
        width: 80px;
        height: 32px;
        @include typo($title-xs-size, $title-xs-weight, $title-xs-spacing, $title-xs-line);
    }

    &.active {
        background-color: $gray-900;
        color: $gray-00;
    }
}
// 요일 버튼
.btn-day {
    // width: 32px;
    padding: 8px 10px 7px 11px;
    @include flex-center;

    border-radius: 4px;
    border: 1px solid $gray-200;
    background-color: $gray-50;
    color: $gray-400;
    @include typo($body-xs-size, $body-xs-weight, $body-xs-spacing, $body-xs-line);

    &.active {
        @include typo($title-xs-size, $title-xs-weight, $title-xs-spacing, $title-xs-line);
        
        border-color: $primary-200;
        background-color: $primary-50;
        color: $primary-700;
    }
}
.button-group {
    display: flex;
    gap: 8px;
}

.modal-btn {
    width: 120px;
    padding: 0 12px;
}
// ======================================================================
// radio/checkbox/toggle
// ======================================================================
// radio
.radio {
    display: inline-flex;
    align-items: center;
    gap: 4px;

    input {display: none;}

    .circle {
        width: 18px;
        height: 18px;
        background-image: url('@/assets/icons/ic_radio_off.svg');
        background-position: center;
        background-repeat: no-repeat;
    }

    input:checked + .circle {
        background-image: url('@/assets/icons/ic_radio_on.svg');
    }

    .label {
        color: $gray-900;
        @include typo($body-m-size, $body-m-weight, $body-m-spacing, $body-m-line);
        line-height: 1;
    }
}
// checkbox
.checkbox {
    display: inline-flex;
    align-items: center;
    gap: 5px;

    input { display: none; }

    .box, .box-naver {
        width: 18px;
        height: 18px;
        background-image: url('@/assets/icons/ic_checkbox_unChecked.svg');
        background-position: center;
        background-repeat: no-repeat;
    }

    input:checked + .box {
        background-image: url('@/assets/icons/ic_checkbox_checked.svg');
    }
    input:checked + .box-naver {
        background-image: url('@/assets/icons/ic_checkbox_checked_naver.svg');
    }

    input:disabled + .box {
        background-image: url('@/assets/icons/ic_checkbox_disabled.svg');
    }

    .label {
        color: $gray-900;
        @include typo($body-m-size, $body-m-weight, $body-m-spacing, $body-m-line);
        line-height: 1;
    }

    input:disabled + .label {
        color: $gray-400;
    }
}
// toggle
.toggle {
    width: fit-content;
    cursor: pointer;
    display: inline-flex;
    align-items: center;

    input {
        display: none;
    }

    .toggle-img {
        width: 32px;
        height: 24px;
        content: url('@/assets/icons/toggle_off.svg');
        transition: 0.2s ease;
    }

    input:checked + .toggle-img {
        content: url('@/assets/icons/toggle_on.svg');
    }

    input:disabled + .toggle-img {
        opacity: 0.3;
        cursor: not-allowed;
    }
}

// segment
.segment-wrapper {
    width: 100%;
    display: flex;
    height: 32px;
    padding: 4px;
    align-items: center;
    gap: 4px;

    border-radius: 5px;
    background-color: $gray-100;

    .segment {
        flex: 1;
    
        input[type="radio"] {display: none;}
    
        span {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 24px;
            padding: 0 8px;

            @include typo($title-xs-size, $title-xs-weight, $title-xs-spacing, $title-xs-line);
            line-height: 1;
            background-color: $gray-100;
            border-radius: 4px;
            color: $gray-400;
        }

        input:checked + span {
            background-color: $gray-00;
            color: $gray-900;
            box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.15)
        }
    }
}

// ======================================================================
// etc (text button, flag)
// ======================================================================
// text-button
.text-button {
    display: inline-flex;
    padding: 1px 2px;
    justify-content: center;
    align-items: center;
    gap: 2px;
    border-radius: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    @include typo($title-s-size, $title-s-weight, $title-s-spacing, $title-s-line);
    line-height: 1;

    &--blue {
        color: $primary-700;

        &:hover {
            background-color: $primary-100;
        }
    }

    &--black {
        color: $gray-700;

        &:hover {
            background-color: $gray-200 ;
        }
    }
}
// flag
.flag {
    display: inline-flex;
    height: 20px;
    padding: 0 8px;
    justify-content: center;
    align-items: center;
    gap: 2px;
    border-radius: 20px;
    text-align: center;
    @include typo($title-xs-size, $title-xs-weight, $title-xs-spacing, $title-xs-line);
    line-height: 1;

    &--basic {
        background-color: $primary-100;
        color: $primary-700;
    }
    &--basic-outline {
        background-color: $gray-00;
        border: 1px solid $primary-700;
        color: $primary-700;
    }

    &--warning {
        background-color: $warning-100;
        color: $warning-300;
    }
    &--warning-outline {
        background-color: $gray-00;
        border: 1px solid $warning-300;
        color: $warning-300;
    }

    &--black {
        background-color: $gray-700;
        color: $gray-00;
    }
    &--black-outline {
        background-color: $gray-00;
        border: 1px solid $gray-300;
        color: $gray-700;
    }

    &--yellow {
        background-color: $status-onHold_bg;
        color: $status-onHold_text;
    }

    &--disabled {
        background-color: $gray-200;
        color: $gray-400;
    }
}

.helper {
    position: relative; // 툴팁 위치의 기준점
    display: inline-flex;
    align-items: center;
    cursor: pointer;

    &__icon {
        width: 16px;
        height: 16px;
    }

    .tooltip-content {
        visibility: hidden;  // 평소엔 숨김
        opacity: 0;         // 투명도 0
        position: absolute;
        top: 10px;
        left: calc(100% + 8px); // 아이콘 위쪽으로 배치
        
        width: max-content;
        max-width: 400px; // 최대 너비 제한
        padding: 15px;

        border-radius: 5px;
        border: 1px solid $primary-700;
        background-color: $primary-50;
        @include typo($body-s-size, $body-s-weight, $body-s-spacing, $body-s-line);
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
        
        white-space: pre-wrap; // 툴팁 내 줄바꿈 허용
        text-align: left;
        box-shadow: 0 4px 6px rgba(0,0,0,0.1);
        z-index: 1;
    }

    // 마우스를 올렸을 때(Hover) 동작
    &:hover {
        .tooltip-content {
            visibility: visible;
            opacity: 1;
        }
    }
}

// tooltip
.tooltip-content {
    position: absolute;
    @include flex-center;
    width: max-content;
    min-width: 200px;
    max-width: 400px;
    padding: 15px;
    gap: 10px;
    pointer-events: none;

    border-radius: 5px;
    border: 1px solid $primary-700;
    background-color: $primary-50;
    @include typo($body-s-size, $body-s-weight, $body-s-spacing, $body-s-line);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
}

// ======================================================================
// modal 스타일
// ======================================================================
.modal-backdrop {
    @include flex-center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:  rgba(12, 12, 13, 0.6);
    z-index: 100;
}

.modal-container {
    display: flex;
    flex-direction: column;
    min-width: 400px;
    // height: 100%;
    max-height: 840px;
    border-radius: 8px;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.20);

    --modal-padding: 24px; // (기본값 s,xs 사이즈 모달의 패딩)
}

.modal--xl {
    width: 1600px;
    --modal-padding: 40px;
}

.modal--l {
    width: 1080px;
    --modal-padding: 32px;
}
.modal--m {
    width: 940px;
    --modal-padding: 32px;
}

.modal--s {
    width: 640px;
    --modal-padding: 24px;
}
.modal--xs {
    width: 400px;
    --modal-padding: 24px;
}

.modal-header {
    flex-shrink: 0;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0 var(--modal-padding);
    border-radius: 8px 8px 0 0;
    
    background-color: $primary-700;

    &__title {
        color: $gray-00;
    }
}

.modal-contents {
    flex-grow: 1;
    display:flex;
    flex-direction: column;
    width: 100%;
     min-height: 0; // flex 아이템이면서 overflow 있을 때 필요;
    max-height: 100%;
    border-radius: 0 0 8px 8px;

    background-color: $gray-00;
}
.modal-contents-inner {
    flex: 1;
    padding: var(--modal-padding);
    min-height: 0; // flex 아이템이면서 overflow 있을 때 필요;
    max-height: 100%;
    overflow-y: auto;
    
    // padding-right: 10px;
    // overflow-y: auto;

}
.modal-contents-title {
    @include typo($title-l-size, $title-l-weight, $title-l-spacing, $title-l-line); 
    color: $gray-900;;
}
.modal-contents-subTitle {
    @include typo($title-s-size, $title-s-weight, $title-s-spacing, $title-s-line); 
    color: $gray-900;
}
.modal-contents-body {
    margin-top: 16px;
    margin-bottom: 8px;

    @include typo($body-m-size, $body-m-weight, $body-m-spacing, $body-m-line);
    color: $gray-700;

    .strong {color:  $primary-700;}
}
.modal-contents-caption {
    display: block;
    color: $gray-500;
    .strong {color:  $primary-700;}
}
.modal-button-wrapper {
    width: 100%;
    display: flex;
    gap: 8px;
    padding: var(--modal-padding);
    padding-top: 0;

    .buttons {
        flex: 2;
        display: flex;
        gap: 8px;
        justify-content: flex-end;
        .btn {min-width: 80px;}
        .btn--c {min-width: 56px;}
    }

} 

// ======================================================================
// datepicker 라이브러리 커스텀 스타일
// ======================================================================
.dp--clear-btn {display: none !important;}
.dp__input_icon {display: none !important;}
.dp__arrow_top {display: none;}

.dp--menu-wrapper,
.dp__menu,
.dp__menu > div {width:240px !important; min-width: 240px !important;}

.dp__month_year_wrap .dp__month_year_wrap {flex-direction: row-reverse;} // 월 이동 버튼 자리 바꿈
.dp__month_year_select { // 월, 년도 선택 버튼
    font-family: $font-family-base;
    @include typo($body-l-size, $body-l-weight, $body-l-spacing, $body-l-line);
}
.dp__inner_nav {border: 1px solid $gray-200;}
.dp__calendar_header_item { // 일자 (월/화/수/목/금)
    color: $gray-700;  
    font-family: $font-family-base;
    @include typo($title-xs-size, $title-xs-weight, $title-xs-spacing, $title-xs-line);
    @include flex-center;
}
.dp__calendar_header_separator {display: none;} // 일자 아래 보더
.dp__range_between {background-color: $gray-50;} // 선택된 range 날짜 배경 컬러
.dp__calendar_item {width:32px; height: 32px;}
.dp__cell_inner { // 날짜
    width: 32px;
    height: 32px;
    @include flex-center;
    padding: 10px;
    font-family: $font-family-base;
    color: $gray-700;
    @include typo($body-s-size, $body-s-weight, $body-s-spacing, $body-s-line);
}
.dp__range_start, // 선택 start날짜
.dp__range_end, // 선택 end 날짜
.dp__active_date { // active 날짜
    color: $gray-00 !important;
    background-color: $primary-700 !important;
    border-radius: 50% !important;
    z-index: 1;
}
.dp__cell_offset {color: $gray-200;} // 해당 하는 월에 포함되지 않는 날짜 컬러
.dp__action_row {  // 캘렌더 아래 버튼 영역
    border-top: 1px solid $gray-200;
    justify-content: flex-end;
    gap: 4px;
}
.dp__action_row .bt {width: 40px;}
.dp__selection_preview {display: none;} // 선택 날짜 미리보기
.dp__action_button { // 액션 버튼 공통
    font-family: $font-family-base;
    @include typo($title-xs-size, $title-xs-weight, $title-xs-spacing, $title-xs-line);
    border-radius: 4px;
}
.dp__action_cancel { // 취소버튼
    background-color: $gray-00;
    border-color: $gray-300;
    color: $gray-700;
}
.dp__action_buttons .dp__action_select { // 적용 버튼
    background-color: $gray-700;
}
.fake-input { // 선택한 일자 보여주는 영역
    position: relative;
    height: 32px;
    padding: 0 10px;
    border: 1px solid $gray-200;
    border-radius: 4px;
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: white;

    &:hover {
        border-color: $gray-400;
    }
}

.top-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 16px;
    gap: 12px;

    background-color: $gray-00;
    border-radius: 8px;
    border: 1px solid $gray-200;
}

// ======================================================================
// formTable 공통 스타일
// ======================================================================
.form-container {
    width: 100%;
    flex: 1;
    overflow-y: auto;
    
    border-top: 2px solid $gray-600;
}
.form-item {
    display: flex;
    min-height: 32px;

    border-bottom: 1px solid $gray-200;
}
.form-label {
    width: 120px; 
    display: flex;
    align-items: center;

    @include typo($title-s-size, $title-s-weight, $title-s-spacing, $title-s-line);
    color: $gray-700;
    background: $gray-50;
    padding: 4px 10px;

    &.required::after {
        content: '*';
        display: inline-block;
        margin-left: 2px;
        color: $primary-700;
    }
}
.form-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    padding: 4px 10px;
}

// ======================================================================
// 사진 업로드/미리보기 영역 공통
// ======================================================================
/* 사진 업로드 영역 (이미지와 동일하게) */
.photo-upload {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 4px;

    &__grid {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
    }

    /* 추가 버튼 박스 */
    &__btn {
        width: 96px;
        height: 96px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;
        flex-wrap: wrap;

        background-color: $gray-00;
        border: 1px solid $gray-200;
        border-radius: 4px;
        cursor: pointer;

        .icon-plus {
            width: 32px;
        }

        &:hover {
            border-color: $primary-500;
        }
    }

    /* 이미지 아이템 박스 */
    &__item {
        position: relative;
        width: 96px;
        height: 96px;
        border-radius: 4px;
        overflow: hidden;

        background-color: $gray-00;
        border: 1px solid $gray-200;
        border-radius: 4px;

        .preview-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .drag-handle {
            position: absolute;
            top: 4px;
            left:4px;

            width: 16px;
            height: 16px;
            
            border-radius: 2px;
            background-color: rgba(255, 255, 255, 0.25);
            backdrop-filter: blur(4px);
        }

        .delete-btn {
            position: absolute;
            top: 4px;
            right: 4px;

            display: flex;
            align-items: center;
            justify-content: center;
        }

        .main-badge {
            position: absolute;
            bottom: 0;

            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 4px 0;
            
            background-color: rgba(0, 0, 0, 0.16);
            backdrop-filter: blur(4px);

            span {
                color: $gray-00;
            }
        }
    }
}