// SCSS 기능(함수, 믹스인)을 넣는 곳

// typo
@mixin typo($size, $weight, $spacing, $line) {
  font-size: $size;
  font-weight: $weight;
  letter-spacing: $spacing;
  line-height: $line;
}

// flexbox 중앙 정렬
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
// flexbox 정렬 옵션
@mixin flex($justify: center, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

// 말줄임
@mixin ellipsis($lines: 1) {
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

// 반응형
@mixin mobile {
  @media (max-width: $breakpoint-sm) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $breakpoint-md) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: $breakpoint-lg) {
    @content;
  }
}